
*{
background-color: lightblue;
}
.LA-SCALONETA {
    background-color: rgb(75, 196, 218);
    color:black;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
} 
h1{
    background-color: white;
    color: rgb(241, 238, 39);
}